<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sapo.app"
    android:installLocation="preferExternal" >

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TiendasActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:id="@+id/title_activity_detail"
            android:name=".CategoriasActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".TiendasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TiendasActivity" />
        </activity>
        <activity
            android:id="@+id/title_activity_productos"
            android:name=".ProductosActivity"
            android:label="@string/title_activity_productos"
            android:parentActivityName=".CategoriasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriasActivity" />
        </activity>
        <activity
            android:name=".DetalleProductoActivity"
            android:label="@string/title_activity_detalle_producto"
            android:parentActivityName=".ProductosActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sapo.app.ProductosActivity" />
        </activity>
        <provider
            android:authorities="com.example.android.sapo.app"
            android:name=".data.SAPoProvider" />
    </application>

</manifest>
